## –£—Ä–æ–∫ 7
### –ú–Ω–æ–≥–æ–º–µ—Ä–Ω—ã–π —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑. –õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

#### –ó–∞–¥–∞—á–∞ 1
–î–∞–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è –≤–µ–ª–∏—á–∏–Ω—ã –∑–∞—Ä–∞–±–æ—Ç–Ω–æ–π –ø–ª–∞—Ç—ã –∑–∞–µ–º—â–∏–∫–æ–≤ –±–∞–Ω–∫–∞ (`salary`) –∏ –∑–Ω–∞—á–µ–Ω–∏—è –∏—Ö –ø–æ–≤–µ–¥–µ–Ω—á–µ—Å–∫–æ–≥–æ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ (`scoring`):
```
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
```
–í–æ–∑—å–º—ë–º –≤ –∫–∞—á–µ—Å—Ç–≤–µ –ø—Ä–∏–∑–Ω–∞–∫–∞ –∑–Ω–∞—á–µ–Ω–∏–µ `salary`, –∞ –≤ –∫–∞—á–µ—Å—Ç–≤–µ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π - `scoring`.

1. –ù–∞–π–¥–∏—Ç–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ —Å –ø–æ–º–æ—â—å—é —Ñ–æ—Ä–º—É–ª –¥–ª—è –ø–∞—Ä–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏, –∞ –∑–∞—Ç–µ–º —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ –Ω–∞–∏–º–µ–Ω—å—à–∏—Ö –∫–≤–∞–¥—Ä–∞—Ç–æ–≤.
2. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ `scatter plot` –ø–æ –¥–∞–Ω–Ω—ã–º –∏ –æ—Ç–º–µ—Ç—å—Ç–µ –Ω–∞ –Ω—ë–º –ø—Ä—è–º—É—é –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏, –ø–æ–ª—É—á–µ–Ω–Ω—É—é –≤ –ø. 1.
3. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –¥–µ—Ç–µ—Ä–º–∏–Ω–∞—Ü–∏–∏, —Å—Ä–µ–¥–Ω—é—é –æ—à–∏–±–∫—É –∞–ø–ø—Ä–æ–∫—Å–∏–º–∞—Ü–∏–∏.
4. –û—Ü–µ–Ω–∏—Ç–µ –ø–æ—Å—Ç—Ä–æ–µ–Ω–Ω–æ–µ —É—Ä–∞–≤–Ω–µ–Ω–∏–µ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ —Å –ø–æ–º–æ—â—å—é F-–∫—Ä–∏—Ç–µ—Ä–∏—è –§–∏—à–µ—Ä–∞.
5. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –¥–ª—è –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–µ –∏–Ω—Ç–µ—Ä–≤–∞–ª—ã —Å –ø–æ–º–æ—â—å—é t-—Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –°—Ç—å—é–¥–µ–Ω—Ç–∞.

##### –†–µ—à–µ–Ω–∏–µ

In [2]:
salary = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [3]:
x = salary
y = scoring
n = salary.shape[0] # number of observations

Coefficients of the linear regression equation:
$$b = \frac{\overline{yx} - \overline{y} \cdot {\overline{x}}}{\overline{x^2} - (\overline{x})^2};$$

$$a = \overline{y} - b \cdot {\overline{x}}.$$

In [4]:
b = (np.mean(x * y) - np.mean(x) * np.mean(y)) / (np.mean(x ** 2) - np.mean(x) ** 2)
b

2.620538882402765

In [5]:
a = np.mean(y) - b * np.mean(x)
a

444.1773573243596

Linear regression equation with `a` and `b` coefficients:
$$y = 444.18 + 2.62 \cdot x$$

In [6]:
# Method of least squares

In [7]:
# Scatter plot

In [8]:
# Calculate correlation coefficient
r = b * np.std(x) / np.std(y)
r

0.8874900920739162

In [9]:
# Calculate R^2 (coefficient of determination) regression score
R2 = r**2
R2

0.7876386635293682

In [10]:
# Get predicted values
y_pred = a + b * x
y_pred

array([535.89621821, 562.10160703, 942.07974498, 968.2851338 ,
       548.99891262, 627.61507909, 585.68645697, 837.25818968,
       758.64202321, 732.43663439])

In [11]:
# Calculate approximation error
A_mean = 100 * np.mean(np.abs((y - y_pred) / y))
A_mean

11.46925184356171

In [12]:
# Get Fisher criterion (F-criterion)
F_fact = (r**2 * (n - 2)) / (1 - r**2)
F_fact

29.671640859664432

F-criterion critical value (<a href='http://help.prognoz.com/en/mergedProjects/Lib/05_statistics/uimodelling_f_test.htm'>table</a>) for the significance level of `0.05` and `ùëò1=1`  and `ùëò2=10‚àí2=8`:

In [13]:
F = 5.32

In [14]:
F_fact > F

True

In [15]:
# Calculate quantile for t-distribution (Student's coefficient)

In [16]:
# Calculate confidence interval: (ci_from, ci_to)

#### –ó–∞–¥–∞—á–∞ 2
–ü–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –¥–ª—è —Ç.–Ω. –ö–≤–∞—Ä—Ç–µ—Ç–∞ –≠–Ω—Å–∫–æ–º–±–∞ (—Å–º. —É—Ä–æ–∫ 6).

##### –†–µ—à–µ–Ω–∏–µ

In [17]:
raw_data = pd.read_csv('../../datasets/anscombe_dataset.csv')
raw_data.head()

   id    x1    y1    x2    y2    x3     y3   x4    y4
0   0  10.0  8.04  10.0  9.14  10.0   7.46  8.0  6.58
1   1   8.0  6.95   8.0  8.14   8.0   6.77  8.0  5.76
2   2  13.0  7.58  13.0  8.74  13.0  12.74  8.0  7.71
3   3   9.0  8.81   9.0  8.77   9.0   7.11  8.0  8.84
4   4  11.0  8.33  11.0  9.26  11.0   7.81  8.0  8.47